<%- include("partials/header.ejs")%>
<div class="todo-list">
    <div class="list-cont">
        <h3 class="list-head">Today's Goals</h3>
        <form action="/submitTask" method="POST">
            
            <div class="grid-container">
                <input type="text" name="task" class="form-control card card-textbox" placeholder="Type here...">
                <button type="submit" class="btn btn-dark" ><i class="fa-solid fa-plus"></i> Add new item </button>
            </div>
            
        </form>
        <% if (locals.tl && locals.tl.length > 0 && locals.tcompleted){%>
            <%var taskNo =1;%>
            <ul class="task-list-1">
                <%tl.forEach(task => { %>
                    <li>
                        <div class="grid-container-2">
                            <p class="form-control card card-textbox-2 <%=tcompleted[taskNo-1]%>" id="tb<%=taskNo%>"><%=task%></p>
                            <div class="button-cards card">
                                <form action="/doneTask" method="post" class="done-f">
                                    <button type="submit" class="done" id="tick<%=taskNo%>" name="ttick" value="<%=taskNo%>"><i class="fa-solid fa-check"></i></button>
                                </form>
                                <form action="/undoTask" method="post" class="undo-f">
                                    <button type="submit" class="undo" id="undo<%=taskNo%>" name="tundo" value="<%=taskNo%>"><i class="fa-solid fa-arrow-rotate-left"></i></button>
                                </form>
                                <form action="/removeTask" method="post" class="delete-f">
                                    <button type="submit" class="delete" id="rem<%=taskNo%>" name="trem" value="<%=taskNo%>"><i class="fa-solid fa-circle-xmark"></i></button>        
                                </form>
                                </div>
                        </div>
                    </li>
                    <% taskNo+=1; %>
                <%})%>
            </ul>
        <% } %>

    </div>
    
</div>


<%- include("partials/footer.ejs") %>