<%- include("partials/header.ejs")%>
<div class="todo-list">
    <div class="list-cont">
        <h3 class="list-head">Work Tasks</h3>
        <form action="/submitWork" method="POST">
            
            <div class="grid-container">
                <input type="text" name="task" class="form-control card card-textbox" placeholder="Type here...">
                <button type="submit" class="btn btn-dark" ><i class="fa-solid fa-plus"></i> Add new item </button>
            </div>
            
        </form>
        <% if (locals.wl && locals.wl.length > 0 && locals.completed){%>
            <%var workNo =1;%>
            <ul class="task-list-1">
                <%wl.forEach(task => { %>
                    <li>
                        <div class="grid-container-2">
                            <p class="form-control card card-textbox-2 <%=completed[workNo-1]%>" id="tb<%=workNo%>"><%=task%></p>
                            <div class="button-cards card">
                                <form action="/doneWork" method="post" class="done-f">
                                    <button type="submit" class="done" id="tick<%=workNo%>" name="tick" value="<%=workNo%>"><i class="fa-solid fa-check"></i></button>
                                </form>
                                <form action="/undoWork" method="post" class="undo-f">
                                    <button type="submit" class="undo" id="undo<%=workNo%>" name="undo" value="<%=workNo%>"><i class="fa-solid fa-arrow-rotate-left"></i></button>
                                </form>
                                <form action="/removeWork" method="post" class="delete-f">
                                    <button type="submit" class="delete" id="rem<%=workNo%>" name="rem" value="<%=workNo%>"><i class="fa-solid fa-circle-xmark"></i></button>        
                                </form>
                                </div>
                        </div>
                    </li>
                    <% workNo+=1; %>
                <%})%>
            </ul>
        <% } %>

    </div>
    
</div>


<%- include("partials/footer.ejs") %>